# build artefacts
sketch2trello-plugin.sketchplugin/Contents/Sketch
sketch2trello-plugin.sketchplugin/Contents/Resources/_webpack_resources
sketch2trello-plugin.sketchplugin/Contents/Resources/webview.js

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

src/secrets.js